{% extends 'base.html' %}

{% block title %}
    SokolovBlog
{% endblock %}

{% block content %}
    <header>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center text-white">
                        {% if current_user.is_authenticated %}
                            Привет {{ current_user.username }}! Вы готовы содздать новый блог?
                        {% else %}
                            Welcome to SokolovBlog!
                        {% endif %}
                    </h1>

                </div>
            </div>
        </div>
    </header>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center">
                        Последние записи в блоге)
                    </h1>
                </div>
            </div>
        </div>

{% for post in posts %}
    <section class="post">
        <h2 class="text-center">{{ post.title }}</h2>
        <small>{{ post.author.username }}</small>
        <br>
         <small>Опубликовано {{ post.date_posted.strftime('%A, %d %B %Y %I:%M %p') }}</small>

        <h5 class="text-center">{{ post.content }}</h5>
    </section>
{% endfor %}


{% endblock %}
